/* :root {
  --white-color: whitesmoke; 
}

body {
 margin: 10px;
 background-image: url("../images/space_background2.jpg");
 background-repeat: no-repeat;
 background-size: cover;
} */

h1 {
  font-size: 60px;
  font-weight: bold;
  color: var(--white-color);
  font-family: 'Orbitron';
  text-align: center;
  margin: auto;
  padding: 30px;
}

nav {
  font-family: 'Orbitron';
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Orbitron';
  color: var(--white-color);
  height: fit-content;
  font-weight: bolder;
  margin-left: 10px;

}

nav li a {
  margin-left: 30px;
  text-decoration: none;
  font: bolder;
  font-size: 25px;
  /* color: var(--white-color); */
  align-content: center;
}

.links ul { 
  list-style-type: none;
  display: flex;
  margin-left: 15px;
  font-size: 15px;
  justify-content: center;
  height: 100%;
}


#profile {
  align-items: center;
  height: calc(99vh - 60px);
}

#sam-info ul {
  font-family: 'Orbitron';
  font-weight: lighter;
  color: var(--white-color);
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#sam-info ul li {
  font-family: 'Orbitron';
  font-weight: lighter;
  color: var(--white-color);
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


#sam-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding: 20px;
}