/* :root {
  --white-color: whitesmoke; 
}

body {
 margin: 10px;
 background-image: url("../images/space_background2.jpg");
 background-repeat: no-repeat;
 background-size: cover;
} */

h1 {
  font-size: 60px;
  font-weight: bold;
  color: var(--white-color);
  font-family: 'Orbitron';
  text-align: center;
  margin: auto;
  padding: 30px;
}

nav {
  font-family: 'Orbitron';
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Orbitron';
  color: var(--white-color);
  height: fit-content;
  font-weight: bolder;
  margin-left: 10px;

}

nav li a {
  margin-left: 30px;
  text-decoration: none;
  font: bolder;
  font-size: 25px;
  /* color: var(--white-color); */
  align-content: center;
}

.links ul { 
  list-style-type: none;
  display: flex;
  margin-left: 15px;
  font-size: 15px;
  justify-content: center;
  height: 100%;
}


#profile {
  align-items: center;
  height: calc(99vh - 60px);
}

#sam-info ul {
  font-family: 'Orbitron';
  font-weight: lighter;
  color: var(--white-color);
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#sam-info ul li {
  font-family: 'Orbitron';
  font-weight: lighter;
  color: var(--white-color);
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


#sam-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding: 20px;
}


.form {
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto;
}

p {
  text-align: center;
}

#resume {
  align-items: center;
}

@media screen and (max-width: 1280px) {
  body { 
      flex-direction: column;
      text-align: center;
      flex-wrap: wrap;
      width: auto;
  }

  #project-info {
      display: flex;
      flex-direction: column;
      flex-basis: content;
  }
}

@media screen and (max-width: 767px) {
  body { 
      flex-direction: column;
      text-align: left;
      flex-wrap: wrap;
      margin: 0;
      font-size: 50%;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  h1 {
      font-size: 40px;
      text-align: center;
      align-items: center;
  }

  h2, h3 {
      font-size: 30px;
      text-align: center;
  }

  .profile {
      font-size: 50%;
      padding: 0;
      margin: 0;
  }

  p {
      font-size: 75%;
  }

  main {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px;
  }

  #projects section {
      width: 100%;
      flex: 1 1 auto !important;
  }
}